server {
    listen 80;
    server_name ${MINIO_API_SUBDOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen ${SSL_PORT} ssl;
    server_name ${ZITADEL_SUBDOMAIN};

    allow ${PRIVATE_WIREGUARD_ADDRESS};
    allow ${PRIVATE_VAULTWARDEN_ADDRESS};
    deny all;

    ssl_certificate     ${LOCAL_CERT_PATH};
    ssl_certificate_key ${LOCAL_KEY_PATH};

    location ^~ /.well-known/ {
        # Ensure this points to your Zitadel upstream
        proxy_pass http://zitadel:8080; 
    
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /ui/v2/login {
        proxy_pass http://zitadel-login:3000;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
    }
    
    location / {
	grpc_pass grpc://zitadel:8080;
	grpc_set_header Host $host;
	grpc_set_header X-Forwarded-Proto https;
    }
}
